

<p id="myCheck" onmouseover="myFunction()" onclick="<p>Clicked</p>">
{{ words }} </p>


<script>
// On mouse-over, execute myFunction
function myFunction() {
    document.getElementById("myCheck").click(); // Click on the checkbox
}
</script>




